:root {
  /* Colors: */
  --color-705aaa: #705aaa;
  --color-cbc8d4: #cbc8d4;
  --activestate_bg_2: #d8fcf7;
  --activestate_bg_1: #01f0d0;
  --color-0bd984: #0bd984;
  --color-072635: #072635;
  --color-0c3d5d: #0c3d5d;
  --color-084c77: #084c77;
  --color-055a92: #055a92;
  --color-006aac: #006aac;
  --color-007bc7: #007bc7;
  --color-707070: #707070;
  --color-f6f6f6: #f6f6f6;
  --color-ededed: #ededed;
  --color-000000: #000000;
  --color-878787: #878787;
  --color-ffffff: #ffffff;
  --color-ff6200: #ff6200;

  /* Font/text values */
  --font-family-manrope: Manrope;
  --font-style-normal: normal;
  --font-weight-800: 800px;
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --font-size-14: 14px;
  --font-size-18: 18px;
  --font-size-24: 24px;
  --character-spacing-0: 0px;
  --line-spacing-19: 19px;
  --line-spacing-24: 24px;
  --line-spacing-33: 33px;
  --text-transform-titlecase: titlecase;
}

/* Adobe XD Classes */

.card-title {
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-800);
  font-size: var(--font-size-24);
  line-height: var(--line-spacing-33);
  letter-spacing: var(--character-spacing-0);
}

.inner-card-title {
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-18);
  line-height: var(--line-spacing-24);
  letter-spacing: var(--character-spacing-0);
  text-transform: var(--text-transform-titlecase);
}

.body-emphasized {
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0);
}

.body-secondary-info {
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0);
  color: var(--text-secondary);
}

.body-regular {
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0);
}

/* Character Classes */
.card-title-24pt {
  font-family: var(--font-family-manrope);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-800);
  font-size: var(--font-size-24);
  line-height: var(--line-spacing-33);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-072635);
}

.inner-card-title-18pt {
  font-family: var(--font-family-manrope);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-18);
  line-height: var(--line-spacing-24);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-072635);
  text-transform: var(--text-transform-titlecase);
}

.body-emphasized-14pt {
  font-family: var(--font-family-manrope);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-072635);
}

.body-secondary-info-14pt {
  font-family: var(--font-family-manrope);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-707070);
}

.body-regular-14 {
  font-family: var(--font-family-manrope);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-072635);
}
