@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-body: #f6f7f8;
  --text-primary: #072635;
  --text-secondary: #707070;
  --activestate_bg_2: #d8fcf7;
  --activestate_bg_1: #01f0d0;
  --color-ededed: #ededed;
  --font-size-14: 0.875rem;
  /* --line-spacing-19: 1.188rem; */
}

body {
  color: rgb(var(--text-primary));
  background: var(--bg-body);
  font-size: var(--font-size-14);
  /* line-height: var(--line-spacing-19); */
}

/* Color Classes */

.text-secondary {
  color: var(--text-secondary);
}

.bg-active-1 {
  background: var(--activestate_bg_1);
}

.bg-active-2 {
  background: var(--activestate_bg_2);
}

.patient-card:hover {
  background: var(--activestate_bg_2);
}

.border-color-1 {
  border-color: var(--color-ededed);
}

/* SVG Classes */

.svg-icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.test-logo {
  background-image: url("../public/TestLogo.svg");
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}

.home-icon {
  @apply svg-icon;
  background-image: url("../public/home_FILL0_wght300_GRAD0_opsz24.svg");
}

.patients-icon {
  @apply svg-icon;
  background-image: url("../public/group_FILL0_wght300_GRAD0_opsz24.svg");
}

.calendar-icon {
  @apply svg-icon;
  background-image: url("../public/calendar_today_FILL0_wght300_GRAD0_opsz24.svg");
}

.message-icon {
  @apply svg-icon;
  background-image: url("../public/chat_bubble_FILL0_wght300_GRAD0_opsz24.svg");
}

.credit-card-icon {
  @apply svg-icon;
  background-image: url("../public/credit_card_FILL0_wght300_GRAD0_opsz24.svg");
}

.more-horizontal-icon {
  @apply svg-icon;
  background-image: url("../public/more_horiz_FILL0_wght300_GRAD0_opsz24.svg");
}

.more-vertical-icon {
  @apply svg-icon;
  background-image: url("../public/more_vert_FILL0_wght300_GRAD0_opsz24.svg");
}

.settings-icon {
  @apply svg-icon;
  background-image: url("../public/settings_FILL0_wght300_GRAD0_opsz24.svg");
}

.download-icon {
  @apply svg-icon;
  background-image: url("../public/download_FILL0_wght300_GRAD0_opsz24 (1).svg");
}

.female-icon {
  @apply svg-icon;
  background-image: url("../public/FemaleIcon.svg");
}

.birth-icon {
  @apply svg-icon;
  background-image: url("../public/BirthIcon.svg");
}

.phone-icon {
  @apply svg-icon;
  background-image: url("../public/PhoneIcon.svg");
}

.insurance-icon {
  @apply svg-icon;
  background-image: url("../public/InsuranceIcon.svg");
}
